.signupPageTitle {
    padding-top: 2rem;
    min-width: 50vw;
    margin: 0 auto;
}

.signupFormWrapper {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    min-width: 50vw;
    margin: 0 auto;
}

.signupReferralMessage {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    min-width: 50vw;
    margin: 0 auto;
}

.signupFormButton {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.signupFormButton p {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.signupMessage {
    display: flex;
    text-transform: capitalize;
    color: red;
}

@media (max-width: 768px) {
    .signupPageTitle {
        min-width: 90vw;
    }
    .signupFormWrapper {
        min-width: 90vw;
    }
}